@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --stufe1-color: #f4f4f2;
  --stufe2-color: #e8e8e8;
  --stufe3-color: #bbbfca;
  --stufe4-color: #495464;
  --white-color: #fff;
  --dark-color: #3d3d3d;
  --blue1-color: #51adcf;
  --blue2-color: #0278ae;
}

::-moz-selection {
  color: #fff;
  background: var(--stufe4-color);
  text-shadow: none;
}

::selection {
  color: #fff;
  background: var(--stufe4-color);
  text-shadow: none;
}

html {
  line-height: 1.6;
  font-size: 1rem;
}

body {
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  background-color: var(--stufe1-color);
  color: var(--dark-color);
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: opening 1s ease-in;
}

h2 {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--stufe4-color);
  margin-right: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  animation: opening 1s ease-in;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: var(--stufe1-color);
  width: 85%;
  margin: 0 auto;
}

.card {
  background-color: var(--white-color);
  color: #333;
  border-radius: 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  animation: opening 1s ease-in;
}

.section-center {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.zweiSpalter {
  flex: 1 1 50%;
}

.zeile-ergebnis .box1 {
  font-weight: 600;
}

.zeile-ergebnis:last-child .box2 {
  font-weight: 600;
}

.formular {
  flex: 50%;
}

.ergebnis {
  flex: 50%;
}

.zeile-ergebnis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box1 {
  flex: 1 1 60%;
  background-color: var(--stufe4-color);
  color: var(--white-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.box2 {
  flex: 1 1 40%;
  background-color: var(--stufe2-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: end;
}

.button-zeile {
  padding-top: 10px;
}

/* .btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
} */

.btn-outline {
  background-color: transparent;
  border: 1px var(--white-color) solid;
}

.btn:hover {
  transform: scale(0.98);
}

.formular .flex {
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  margin: 10px 5px;
  padding: 10px 10px;
  position: relative;
}

.form-control:nth-child(even) {
  background-color: var(--stufe2-color);
}
.form-control:nth-child(odd) {
  background-color: var(--stufe2-color);
}
.form-control label {
  /* display: inline-block; */
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 600;
}
.form-control input:focus {
  outline: 0;
  border-color: var(--stufe4-color);
  background-color: var(--stufe1-color);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--stufe3-color);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

input[type="submit"] {
  width: 40%;
  background-color: #51adcf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

button {
  width: 40%;
  background-color: #51adcf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

button:hover {
  background-color: #0278ae;
}

input[type="submit"]:hover {
  background-color: #0278ae;
}

div {
  /* border-radius: 1px; */
  /* background-color: var(--stufe1-color); */
  padding: 10px;
}

/* Animations */
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 842px) {
  .container {
    width: 100%;
  }
  .section-center {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box1 {
    color: var(--dark-color);
    background-color: var(--stufe1-color);
    flex: 2 1 60%;
  }

  button {
    width: 50%;
    background-color: #51adcf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
  }

  button:hover {
    background-color: #0278ae;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .zweiSpalter {
    flex: 1 3 50%;
  }
}

/* @media (min-width: 992px) {
} */

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
  .zweiSpalter {
    flex: 1 3 50%;
  }
}
